.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('./wallpapersden.com_rick-in-rick-and-morty_1920x1200.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }